<h1 mat-dialog-title class="text-center">Puchase Entry</h1>
     <div mat-dialog-content>
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)" class="container">
            <input type="hidden"  name="user_id" #user_id="ngModel" [(ngModel)]="formData.user_id">
            <input type="hidden"  name="sales_id" #sales_id="ngModel" [(ngModel)]="formData.sales_id">
            <input type="hidden"  name="prod_Name" #prod_Name="ngModel" [(ngModel)]="formData.prod_Name">
               <div class="form-group">
                  <label>Product</label>
                    <select  class="form-control"name="prod_id" #prod_id="ngModel" [(ngModel)]="formData.prod_id"(change)="updatePrice($event.target)">
                       <option value="0">-Select-</option>
                       <option *ngFor="let item of productList" value="{{item._id}}" >{{item.prod_Name}}</option>
                    </select>
               </div>
          <div class="form-row">
               <label>Price</label>
                 <input  class="form-control"name="prod_Price" #prod_Price="ngModel" [(ngModel)]="formData.prod_Price" readonly>
              </div>
             <div class="form-row">
                <label>Quntity</label>
                  <input  class="form-control" name="prod_Qunt" #prod_Qunt="ngModel" [(ngModel)]="formData.prod_Qunt"(keyup)="UpdateTotal()">
                  <small  class="form-text text-muted" *ngIf="StockEmpty">StockNotAvailable</small>
              </div>
              <div class="form-row">
                <label>Total</label>
                  <input  class="form-control"name="prod_Total" #prod_Total="ngModel" [(ngModel)]="formData.prod_Total" readonly>
                </div>
                <div class="justify-content-center">
                <button type="submit" class="btn btn-dark mt-3" (change)="updateStock($event.target)"><i class="fa fa-database" ></i> Submit</button>
                
            </div>
    </form> 
</div>


